/* default to cropped size */

body {
    background-image: url(img/cryptohires-crop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

/* Mobile landscape breakpoint. */
@media only screen and (min-width: 480px) {
    body {
        background-image: url(img/cryptohires.png);
        background-size: cover;
    }
}
